
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adopt A Pet</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    <%- include('header.ejs') %>
    <%- include('navigation.ejs') %>
    <main>
        <h2>Cat Care Tips</h2>

        <p>To care for a cat you will need to:</p>
        <ul class="boxout" style="font-weight: bold;">
            <li>Provide plenty of human companionship</li>
            <li>Provide regular, suitable meals with a constant supply of fresh water</li>
            <li>Provide a clean and comfortable bed</li>
            <li>Provide the cat with outdoor access or be prepared to empty and clean a litter tray on a daily basis
            </li>
            <li>Provide it with a stimulating and safe environment</li>
            <li>Groom it regularly. Longhaired cats require daily grooming</li>
            <li>Have it neutered between 4 and 6 months old</li>
            <li>Vaccinate against the major feline diseases regularly</li>
            <li>Worm regularly and provide treatment for fleas</li>
            <li>Take the cat to the vet when it shows any sign of illness</li>
            <li>Insure your cat or make sure you can afford the cost of any veterinary treatment it may need</li>
        </ul>
        <p>For more information please visit the following link
            <a
                href="https://icatcare.org/advice/thinking-of-getting-a-cat/">https://icatcare.org/advice/thinking-of-getting-a-cat/</a>
        </p>

    </main>
    <%- include('footer.ejs') %>
    <script src="/js/Q7.js"></script>

</body>
</html>
