
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adopt A Pet</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <%- include('header.ejs') %>
    <%- include('navigation.ejs') %>
    <main>
        <h2>Contact Us</h2>
        <p>If you have any questions or concerns, please reach out to us:</p>
        <p>Yuqian Cai (40187954)</p>
        <p>Email: christine970811@gmail.com</p>
    </main>
    <%- include('footer.ejs') %>
    <script src="/js/Q7.js"></script>


</body>
</html>
