
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adopt A Pet</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <%- include('header.ejs') %>
    <%- include('navigation.ejs') %>
    <main>
        <h2>Dog Care Tips</h2>
        <p>Here are some general tips on how to take care of your dog:</p>

        <p><strong>1. Regular Exams are Vital</strong></p>
        <p><strong>2. Spay and Neuter Your Pets</strong></p>
        <p><strong>3. Prevent Parasites</strong></p>
        <p><strong>4. Maintain a Healthy Weight</strong></p>
        <p><strong>5. Get Regular Vaccinations</strong></p>
        <p><strong>6. Provide an Enriched Environment</strong></p>
        <p><strong>7. Microchip and Tattoo Your Pet</strong></p>
        <p><strong>8. Pets Need Dental Care, Too</strong></p>
        <p><strong>9. Never Give Pets People Medication</strong></p>
        <p><strong>10. Proper Restraint in a Vehicle</strong></p>
        <p>For more information please visit the following link <a href="https://pets.webmd.com/default.htm" target="_blank" rel="noopener">https://pets.webmd.com/ask-pet-health-11/vets-pet-care</a></p>

    </main>
    <%- include('footer.ejs') %>
    <script src="/js/Q7.js"></script>


</body>
</html>
