<header>
    <!-- Logo and site name -->
    <a href="home">
        <img src="/images/logo.png" ><br>
        <h2>Adopt A Pet</h2>
    </a>
    <!--Date and Time will be displayed here-->
    <div id="datetime"></div>
    <div class="button-container">
      <a href="login" class="auth-button">Log in</a>
      <a href="logout" class="auth-button">Log out</a>
  </div>

</header>
    