
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adopt A Pet</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    <%- include('header.ejs') %>
    <%- include('navigation.ejs') %>
    <main>
        <h2>Welcome to Adopt A Pet!</h2>
        <p>We connect loving animals with loving homes. Explore our site to find your new furry family member.</p>
        <h3><br>ANIMALS FIRST.</h3>
        <p>
            Our mission is to protect and represent the interests of animals above all.
            Our role is to help animals who are not (or no longer) fortunate enough to have an owner to look after their
            needs. Our shelter takes in wildlife and domestic animals lost, injured, stray, abandoned, neglected, in  distress.
            We choose to find solutions that promote the well-being of animals, whether they are intended for a life in
            the wild or at home. </p>
    </main>
    <%- include('footer.ejs') %>
    <script src="/js/Q7.js"></script>

</body>
</html>
