
<!--Login to an account-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adopt A Pet</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('header.ejs') %>
    <%- include('navigation.ejs') %>
    <main>
        <h2>--Login--</h2>
        <form id="LoginForm" action="/login" method="post">
            <input type="text" name="username" placeholder="Enter your name"><br>
            <input type="password" name="password"placeholder="Enter your password"><br>
            <input type="submit" value="Submit">
        </form>
        <% if (message) { %>
            <p style="color: chocolate;"><%= message %></p>
          <% } %>
    </main>
    <%- include('footer.ejs') %>
    <script src="/js/Q7.js"></script>
</body>
</html>