<nav>
    <!-- Side menu -->
    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="find">Find a dog/cat</a></li>
        <li><a href="dog-care">Dog Care</a></li>
        <li><a href="cat-care">Cat Care</a></li>
        <li><a href="sign-up">Create an account</a></li>
        <li><a href="login">Have a pet to give away</a></li>
        <li><a href="contact">Contact Us</a></li>
    </ul>
</nav>