
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adopt A Pet</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <%- include('header.ejs') %>
    <%- include('navigation.ejs') %>
    <main>
        <h2>Privacy/Disclaimer Statement</h2>
        <p>Your privacy is important to us. We promise not to sell or misuse your information.</p>
        <p>Disclaimer: We are not responsible for incorrect information posted by pet owners.</p>
    </main>
    <%- include('footer.ejs') %>
    <script src="/js/Q7.js"></script>

</body>
</html>
